*{
    box-sizing: border-box;
}

body{
    background-color: #EDF0F0;
}

#navbars a{
    color: blue;
}

#navbars a:hover{
    color: green;
}

#sec{
    background: #0E5C91;
    height: 80vh;
    padding: 80px;
}

@media all and (max-width:768px){
    #sec img{
        width: 80%;
    }
}

.just{
    text-align: center;
}

.what{

    padding-top: 8rem;
    text-align: center;
}

#etex span{
    font-weight: 500;
    font-size: 30px;
    position: relative;
    top: -1rem;
    left: 0.5rem;
    overflow-x: hidden;
}

#etex1{
    background: white;
    border-radius: 5px; 
    padding: 10px;
    margin-right: 100px;
}

#etex2{
    background: white;
    border-radius: 5px; 
    padding: 10px;
}

#etex3{
    background: white;
    border-radius: 5px; 
    padding: 10px;
    margin-right: 100px;
}

#etex4{
    background: white;
    border-radius: 5px; 
    padding: 10px;
}

#etex5{
    background: white;
    border-radius: 5px; 
   width: 100%;
}

#how{
    padding-top: 5rem;
    text-align: center;
}

#kalsi{
    background-color: #0094BF;
    border-radius: 5px;
    height: 120px;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

#kraft{
    background-color: #0094BF;
    border-radius: 5px;
    height: 120px;
    padding: 15px;
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

#april{
    background-color: #0094BF;
    border-radius: 5px;
    height: 120px;
    padding: 15px;
    font-size: 20px;
    color: white;
}
@media all and (max-width:992px){
    #april{
        position: relative;
        top: 20px;
        
    }
}

#foot{
    background: #0E5C91;
    color: white;
    font-size: 15px;
    padding-left: 30px;
    margin-top: 50px;
}